# Entornos virtuales
.venv/
venv/
__pycache__/
*.pyc

# Entornos y datos locales
.env
prueba.env
*.sqlite3
data/
data/db/

# Jupyter
.ipynb_checkpoints/

# Docker
docker-compose.override.yml
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
